<div class="col-lg-3 col-md-6 mb-4">
  <div class="poster-contents">
    <div class="posts-top">
      <div class="cooking-image">
        <%= image_tag "/cooking_images/#{recipe.cooking_image}" %>
      </div>
    </div>
    <div class="cooking-name">
      <%= link_to recipe.cooking_name, post_path(recipe.id), class:"cooking_name" %>
    </div>
    <div class="posts-bottom">
      <div class="posts-user-image">
        <%= image_tag "/user_images/#{recipe.user.image}" %>
      </div>
      <div class="posts-user-name">
        <%= link_to recipe.user.user_name, user_path(recipe.user.id) %>
      </div>
    </div>
  </div>
</div>