<div class="users-index-main">
  <div class="container">
    <% if flash[:notice] %>
      <div class="success-message"><%= flash[:notice] %></div>
    <% end %>
    <div class="users-index-items">
      <%= render @users %>
    </div>
    <%= will_paginate %>
  </div>
</div>