<div class="users-index-main">
  <div class="container">
    <% if flash[:notice] %>
      <div class="success-message"><%= flash[:notice] %></div>
    <% end %>
    <div class="users-index-items">
      <% @users.each do |user| %>
        <div class="users-index-item">
          <div class="user-index-image">
            <%= image_tag "/user_images/#{user.image}", class:"user_index_image" %>
          </div>
          <p><%= link_to user.user_name, user_path(user.id), class:"users_index_name" %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>