<div class="nested-fields">
  <div class="new-ingredients">
    <div class="ingredient">
      <p class="ingredient">材料</p>
      <textarea name="ingredient_1" placeholder="かぼちゃ"><%= @ingredient.ingredient_1 %></textarea>
    </div>
  </div>
</div>