<div class="nested-fields">
  <div class="new-ingredients">
    <div class="ingredient">
      <p class="ingredient">材料</p>
      <%= i.text_field :ingredient, placeholder: "材料" %>
    </div>
  </div>
</div>