<p>写真を追加する</p>
<label class="cooking-image-form">
  <span class="material-icons camera-icon">add_a_photo</span>
  <p>ファイルを選択</p>
  <p class="not-selected">※選択されていません</p>
  <input id="image-loading" name="cooking_image" type="file">
</label>