<div class="nested-fields step-field">
  <div class="new-steps">
    <%#= f.text_field :step_1 %>
    <textarea name="step_1"><%= @step.step_1 %></textarea>
    <%#= link_to_remove_association "削除", class: "delete-form delete-step" %>
  </div>
</div>
