<header>
  <div class="header-logo">
    pf_app
  </div>
  <ul class="header-list">
    <li>
      ログイン
    </li>
  </ul>
</header>

<div class="posts-index-main">
  <div class="container">
    <div class="posts-item">
      <a>ユーザー名</a>
      <img src="https://lh3.googleusercontent.com/proxy/fD8M7YQ7qIQiym-WrhjIXgJgk4yNj28QHlPd_aj-GsVNnLloqJ7GKpGKFErRBnSgvnZmecULUZ_dfDEqn-l61A">
      <p>料理名</p>
    </div>
  </div>
</div>