<header>
  <div class="header-logo">
    pf_app
  </div>
  <ul class="header-list">
    <li>
      ログイン
    </li>
  </ul>
</header>

<div class="posts-index-main">
  <div class="container">
    <div class="posts-items">
      <% @posts.each do |post| %>
        <div class="posts-item">
          <div class="poster-contents">
            <p class="cooking-name">
              <%= post %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>