// reset=========================================================
ul, li {
  list-style: none;
}

header {
  height: 60px;
  width: 100%;
  color: black;
  border-bottom: 1px solid #8080804d;
}

.header-all {
  display: flex;
}

// ハンバーガーメニュー=========================================================
.menu-bar {
  line-height: 60px;
}

.menu-bar #open-menu {
  font-size: 32px;
  line-height: 60px;
  margin-left: 30px;
  cursor: pointer;
}

.overlay {
  width: 260px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s;
  z-index: 10;
}

.overlay.show {
  width: 260px;
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 40px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

#lo-menu.side {
  display: none;
}

#search-open {
  text-decoration: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
}

#search-close {
  cursor: pointer;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 516px;
}

#search-open:hover {
  color: #104574;
  text-decoration: underline solid black;
}

#mask {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9;
}

#mask.hidden {
  display: none;
}

#search-form {
  background: white;
  height: auto;
  width: 565px;
  padding-bottom: 62px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #80808040;
  position: absolute;
  top: 120px;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 10;
}

#search-form h1 {
  margin-bottom: 30px;
}

.search-for {
  height: 36px;
  width: 400px;
  border-radius: 3px;
  border: 1px solid black;
}

.search-btn {
  padding: 6px 12px;
}

.search-user {
  margin-bottom: 40px;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.menu-cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 8;
  background: rgba(0,0,0,.7);
  opacity: 0;
  pointer-events: none;
}

.menu-cover.cover {
  height: 100%;
  width: 100%;
  opacity: 1;
  pointer-events: auto;
}
// ハンバーガーメニューここまで=========================================================

.header-logo {
  float: left;
  line-height: 60px;
  font-size: 30px;
  margin-left: 9px;
}

.header-list a {
  margin-left: 1130px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  line-height: 60px;
}

.header-menu {
  padding-left: 20px;
  color: black;
  text-decoration: none;
}

.header-menu:hover {
  color: black;
  text-decoration: none;
}

// #signup {
//   line-height: 60px;
//   margin-left: 1130px;
//   color: black;
//   text-decoration: none;
//   font-size: 17px;
//   cursor: pointer;
// }

.menu-cover.signup-cover {
  height: 100%;
  width: 100%;
  opacity: 1;
  pointer-events: auto;
}

.logout-button {
  float: right;
  padding-left: 20px;
  margin-right: 10px;
  color: black;
  text-decoration: none;
}

// トップページ=========================================================
body {
  margin: 0;
}

_::-webkit-full-page-media,_:future,:root .top-main {
  height: 820px;
  background-color: #faf5f0;
}

.top-image {
  width: 100%;
  display: flex;
}

.top-image-1 {
  height: 500px;
  width: 720px;
}

.top-image-2 {
  height: 500px;
  width: 720px;
}

.login-contents {
  height: 200px;
  margin-top: 67px;
}

.login-contents-text {
  text-align: center;
  font-size: 37px;
}

.login-buttons {
  margin-top: 50px;
}

.login-buttons a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.signup-btn {
  margin-right: 70px;
  margin-left: 500px;
}

.login-btn {
  padding-right: 70px;
}

.flash {
  width: 100%;
  height: 53px;
  text-align: center;
  line-height: 53px;
  color: black;
  background-color: mediumaquamarine;
  font-size: 15px;
  position: absolute;
  opacity: 0.8;
}

