// index===================================================================
.posts-index-main {
  height: auto;
}

.container {
  // width: 70%;
  margin: 0;
}

.main-headline {
  padding-left: 110px;
  margin: 50px 0 20px 0;
  font-size: 40px;
}

.post-page {
  display: flex;
  margin: auto;
}

.posts-items {
  width: 980px;
  margin-left: 60px;
}

.posts-item {
  height: auto;
  width: 600px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #80808040;
  color: black;
  box-shadow: 3px 3px 10px 0px #c1ced7;
}

.poster-contents {
  height: 430px;
  width: 200px;
  margin: 0;
  padding: 0;
}

.posts-top {
  margin: 0;
}

.cooking-image {
  margin-top: 20px;
}

.cooking-image img {
  height: 274px;
  width: 200px;
  border-radius: 20px;
}

.cooking_name {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  margin: 13px 0 13px 0;
}

.posts-bottom {
  display: flex;
}

.posts-user-image {
  height: 30px;
  width: 30px;
  margin-right: 0;
}

.posts-user-image img {
  height: 37px;
  width: 37px;
  border-radius: 5px;
}

.posts-user-name {
  margin-top: 10px;
  margin-left: 20px;
}

.posts-user-name a {
  color: black;
  text-decoration: none;
}

.index-search-form {
  margin: 0 110px 0 auto;
}

// show===================================================================
.posts-show-main {
  height: auto;
  padding-bottom: 50px;
}

.posts-show-item {
  width: 62%;
  margin: auto;
}

// .show-flex {
//   width: 80%;
//   display: flex;
//   margin: auto;
// }

.flex {
  display: flex;
}

.posts-show-cooking-image {
  margin-top: 50px;
}

.posts-show-cooking-image img {
  height: 505px;
  width: 100%;
  border-radius: 15px;
}

.show-cooking-name {
  font-size: 37px;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e1ddd8;
}

.post-user-name {
  margin-top: 30px;
  // padding-bottom: 40px;
}

.post_user_name {
  color: black;
  text-decoration: none;
}

.post-user-name img {
  height: 43px;
  width: 43px;
  border-radius: 5px;
}

.comment {
  padding-bottom: 30px;
  border-bottom: 1px solid #e1ddd8;
}

.comment p {
  font-size: 18px;
}

.comment-letter {
  margin-top: 32px;
}

.show-cooking-recipe {
  margin-right: 15px;
}

.step-number {
  font-size: 23px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.show-process p {
  font-size: 18px;
}

.show-ingredients {
  border-bottom: 1px solid #e1ddd8;
  padding-bottom: 35px;
}

.ingredient-letter {
  font-size: 23px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.ingredients p {
  font-size: 18px;
}

.like-btn-unlike {
  color: #ff2581;
  margin-right: 3px;
}

.like-btn {
  color: #8899a6;
  margin-right: 3px;
}

.post-menu {
  margin: 30px 0 0 auto;
  margin-right: 5px;
}

// new===================================================================
.posts-new-main {
  background-color: #faf5f0;
}

.first-message {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
}

.start-message {
  margin: 65px 0 20px 162px;
  font-size: 27px;
}

.new-post {
  height: auto;
  width: 810px;
  margin: auto;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 15px;
  text-align: center
}

.new-post-form {
  width: 82%;
  margin: auto;
  // background-color: #9acd3242;
}

.new-steps textarea {
  width: 253px;
}

.posts-new-content {
  padding-top: 30px;
}

.posts-new-content p {
  font-size: 17px;
  text-align: left;
}

.posts-new-content input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
}

.posts-new-content textarea {
  width: 100%;
  border-radius: 5px;
}

.posts-new-content textarea::placeholder {
  color: rgb(161, 159, 159);
}

.posts-new-content textarea::-ms-input-placeholder {
  color: rgb(161, 159, 159);
}

.posts-new-content textarea:-ms-input-placeholder {
  color: rgb(161, 159, 159);
}

.post-cooking-image {
  padding-top: 40px;
}

.cooking-image-form {
  height: 260px;
  width: 260px;
  padding-top: 70px;
  margin-right: 620px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #8080802e;
}

.cooking-image-form span {
  font-size: 40px;
}

.cooking-image-form p {
  text-align: center;
}

// .post-cooking-image input[type="file"] {
//   display: none;
// }

.not-selected {
  margin-top: 20px;
}

.post-new-ingredients {
  padding-top: 40px;
}

.new-ingredients {
  display: flex;
}

.ingredient {
  width: 37%;
  margin-right: 40px;
}

.ingredient p {
  font-size: 17px;
  text-align: left;
}

.ingredient textarea {
  width: 100%;
  border-radius: 5px;
}

.amount {
  width: 23%;
  margin-right: 40px;
}

.amount p {
  font-size: 17px;
  text-align: left;
}

.amount textarea {
  width: 100%;
  border-radius: 5px;
}

.unit {
  width: 23%;
}

.unit select {
  height: 46px;
  width: 100%;
  border-radius: 5px;
}

.unit p {
  font-size: 17px;
  text-align: left;
}

.unit textarea {
  width: 100%;
  border-radius: 5px;
}

.delete-form {
  height: 20px;
  width: 33px;
  margin-top: 60px;
  margin-left: 5px;
  color: #337ab7;
  font-size: 16px;
  text-decoration: none;
}

.additional-links {
  height: 60px;
  text-align: right;
  padding-top: 25px;
}

.add-btn {
  padding: 12px;
  font-size: 16px;
  color: white;
  background-color: #33319f;
  border: 1px solid #33319f;
  border-radius: 5px;
}

.add-btn:hover {
  color: white;
  text-decoration: none;
}

.step-field {
  height: 134px;
}

.additional-steps {
  padding-top: 0;
}

.new-steps {
  display: flex;
}

.new-steps textarea {
  height: 100px;
  width: 95%;
  margin-bottom: 50px;
}

.delete-step {
  margin-top: 80px;
}

.post-comment {
  padding-top: 5px;
}

.post-comment textarea {
  height: 94px;
}

.send-post {
  padding: 70px 0;
}

.send-post input {
  padding: 10px 25px;
  font-size: 16px;
  color: white;
  background-color: #33319f;
  border: 1px solid #33319f;
  border-radius: 5px;
}

// edit===================================================================
.post-menu {
  text-align: right;
}

.edit-post {
  height: auto;
  width: 400px;
  margin: auto;
  margin-top: 40px;
  border: 1px solid #80808040;
  box-shadow: 3px 3px 10px 0px #c1ced7;
  text-align: center
}

.posts-edit-content p {
  width: 253px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.posts-edit-content textarea {
  width: 253px;
}

.post_edit_button {
  text-decoration: none;
  color: blue;
  margin-right: 10px;
}

.post_destroy_button {
  text-decoration: none;
  color: blue;
  margin-right: 10px;
}