// index===================================================================
.posts-index-main {
  height: auto;
}

.container {
  // width: 70%;
  margin: 0;
}

.main-headline {
  padding-left: 110px;
  margin: 50px 0 20px 0;
  font-size: 40px;
}

.post-page {
  display: flex;
  margin: auto;
}

.posts-items {
  width: 980px;
  margin-left: 60px;
}

.posts-item {
  height: auto;
  width: 600px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #80808040;
  color: black;
  box-shadow: 3px 3px 10px 0px #c1ced7;
}

.poster-contents {
  height: 430px;
  width: 200px;
  margin: 0;
  padding: 0;
}

.posts-top {
  margin: 0;
}

.cooking-image {
  margin-top: 20px;
}

.cooking-image img {
  height: 274px;
  width: 200px;
  border-radius: 20px;
}

.cooking_name {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  margin: 13px 0 13px 0;
}

.posts-bottom {
  display: flex;
}

.posts-user-image {
  height: 30px;
  width: 30px;
  margin-right: 0;
}

.posts-user-image img {
  height: 37px;
  width: 37px;
  border-radius: 5px;
}

.posts-user-name {
  margin-top: 10px;
  margin-left: 20px;
}

.posts-user-name a {
  color: black;
  text-decoration: none;
}

.index-search-form {
  margin: 0 110px 0 auto;
}

// show===================================================================
.posts-show-main {
  height: auto;
}

.posts-show-item {
  width: 62%;
  margin: auto;
}

// .show-flex {
//   width: 80%;
//   display: flex;
//   margin: auto;
// }

.flex {
  display: flex;
}

.posts-show-cooking-image {
  margin-top: 50px;
}

.posts-show-cooking-image img {
  height: 505px;
  width: 100%;
  border-radius: 15px;
}

.show-cooking-name {
  font-size: 37px;
  margin-top: 50px;
  padding-top: 30px;
  border-top: 1px solid #e1ddd8;
}

.post-user-name {
  margin-top: 30px;
  // padding-bottom: 40px;
}

.post_user_name {
  color: black;
  text-decoration: none;
}

.post-user-name img {
  height: 43px;
  width: 43px;
  border-radius: 5px;
}

.comment {
  padding-bottom: 30px;
  border-bottom: 1px solid #e1ddd8;
}

.comment p {
  font-size: 18px;
}

.comment-letter {
  margin-top: 32px;
}

.show-cooking-recipe {
  margin-right: 15px;
}

.step-number {
  font-size: 23px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.show-process p {
  font-size: 18px;
}

.show-ingredients {
  border-bottom: 1px solid #e1ddd8;
  padding-bottom: 35px;
}

.ingredient-letter {
  font-size: 23px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.ingredients p {
  font-size: 18px;
}

.posts-show-bottom {
  display: flex;
}

.like-btn-unlike {
  color: #ff2581;
  margin-right: 3px;
  margin-left: 20px;
}

.like-btn {
  color: #8899a6;
  margin-right: 3px;
  margin-left: 20px;
}

.post-menu {
  margin: 0 0 0 auto;
  margin-right: 5px;
}

// new===================================================================
.new-post {
  height: auto;
  width: 400px;
  margin: auto;
  margin-top: 40px;
  border: 1px solid #80808040;
  box-shadow: 3px 3px 10px 0px #c1ced7;
  text-align: center
}

.new-steps textarea {
  width: 253px;
}

.posts-new-content p {
  width: 253px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.posts-new-content textarea {
  width: 253px;
}

.send-post {
  margin-top: 20px;
  margin-bottom: 20px;
}

// edit===================================================================
.post-menu {
  text-align: right;
}

.edit-post {
  height: auto;
  width: 400px;
  margin: auto;
  margin-top: 40px;
  border: 1px solid #80808040;
  box-shadow: 3px 3px 10px 0px #c1ced7;
  text-align: center
}

.posts-edit-content p {
  width: 253px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.posts-edit-content textarea {
  width: 253px;
}

.post_edit_button {
  text-decoration: none;
  color: blue;
  margin-right: 10px;
}

.post_destroy_button {
  text-decoration: none;
  color: blue;
  margin-right: 10px;
}