// index====================================================================================
.users-index-main {
  height: auto;
}

.users-index-items {
  margin-top: 50px;
}

.users-index-item p {
  margin: 0 0 20px 50px;
}

.users_index_name {
  color: black;
  text-decoration: none;
  padding-top: 28px;
}

.user_index_image {
  height: 50px;
  width: 50px;
  margin: 15px 15px 0;
  border-radius: 50%;
}

// show====================================================================================
/* small screen */
@media (max-width: 799px) {
  .users {
    width: 100%;
    margin: auto;
  }

  .user-image-name {
    display: block;
  }

  .user-show-image {
    text-align: center;
  }

  .user_show_image {
    height: 90px;
    width: 90px;
    margin-top: 40px;
    border-radius: 7px;
  }

  .user-image-name h2 {
    width: 90px;
    margin: 28px auto;
  }

  .user-edit-btn {
    text-align: center;
  }

  .user_edit_button {
    height: 20px;
    color: blue;
    text-decoration: none;
  }

  .user-recipe {
    display: inline-block;
    height: 45px;
    width: 47px;
    margin-right: 18px;
    font-size: 15px;
    line-height: 45px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #232fc3;
  }

  .user-stat {
    display: inline-block;
    height: 45px;
    width: 88px;
    margin-right: 18px;
    font-size: 15px;
    line-height: 45px;
    text-decoration: none;
    color: black;
  }

  .like-user-stat {
    display: inline-block;
    height: 45px;
    width: 60px;
    font-size: 15px;
    line-height: 45px;
    text-decoration: none;
    color: black;
  }

  .user-other-page {
    display: inline-block;
    height: 45px;
    width: 47px;
    margin-right: 18px;
    font-size: 15px;
    line-height: 45px;
    text-decoration: none;
    color: black;
  }

  .user-following {
    display: inline-block;
    height: 45px;
    width: 88px;
    margin-right: 18px;
    font-size: 15px;
    line-height: 45px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #232fc3;
  }

  .user-followers {
    display: inline-block;
    height: 45px;
    width: 88px;
    margin-right: 18px;
    font-size: 15px;
    line-height: 45px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #232fc3;
  }

  .user-likes {
    display: inline-block;
    height: 45px;
    width: 60px;
    font-size: 15px;
    line-height: 45px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #232fc3;
  }

  .likes-center img {
    height: 274px;
    width: 100%;
    border-radius: 20px;
  }
}

/* large screen */
@media (min-width: 800px) {
  .users {
    width: 78%;
    margin: auto;
  }

  .user-image-name {
    display: flex;
  }

  .user_show_image {
    height: 117px;
    width: 117px;
    margin-top: 50px;
    border-radius: 7px;
  }

  .user-image-name h2 {
    margin-top: 69px;
    margin-left: 30px;
  }

  .user-edit-btn {
    margin-left: auto;
    padding-top: 147px;
  }

  .user_edit_button {
    height: 20px;
    color: blue;
    text-decoration: none;
  }

  .user-recipe {
    display: inline-block;
    height: 45px;
    width: 58px;
    margin-right: 32px;
    font-size: 18px;
    line-height: 45px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #232fc3;
  }

  .user-stat {
    display: inline-block;
    height: 45px;
    width: 150px;
    font-size: 18px;
    line-height: 45px;
    text-decoration: none;
    color: black;
  }

  .like-user-stat {
    display: inline-block;
    height: 45px;
    width: 150px;
    font-size: 18px;
    line-height: 45px;
    text-decoration: none;
    color: black;
  }

  .user-other-page {
    display: inline-block;
    height: 45px;
    width: 58px;
    margin-right: 32px;
    font-size: 18px;
    line-height: 45px;
    text-decoration: none;
    color: black;
  }

  .user-following {
    display: inline-block;
    height: 45px;
    width: 118px;
    margin-right: 32px;
    font-size: 18px;
    line-height: 45px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #232fc3;
  }

  .user-followers {
    display: inline-block;
    height: 45px;
    width: 118px;
    margin-right: 32px;
    font-size: 18px;
    line-height: 45px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #232fc3;
  }

  .user-likes {
    display: inline-block;
    height: 45px;
    width: 72px;
    margin-right: 32px;
    font-size: 18px;
    line-height: 45px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #232fc3;
  }

  .likes-center img {
    height: 274px;
    width: 200px;
    border-radius: 20px;
  }
}

.user-info {
  margin: 30px 0;
}

.stats {
  border-bottom: 1px solid #e1ddd8;
}

.users-follow {
  padding: 0;
}

.posts-user-item {
  height: 335px;
  width: 200px;
}

#open {
  cursor: pointer;
  height: 45px;
  font-size: 18px;
  border-top: 1px solid black;
  margin: 0;
  line-height: 45px;
}

.liked-posts {
  border-bottom: 1px solid black;
}

.send-user {
  margin-top: 20px;
}

.btn {
  margin-top: 20px;
  margin-left: 35px;
}

.user-show-search {
  width: 285px;
}

// edit====================================================================================
.edit-user {
  height: auto;
  width: 655px;
  margin: auto;
  margin-top: 40px;
}

.edit-title {
  margin: 50px 0;
}

.edit-user p {
  font-size: 17px;
  margin-top: 28px;
}

.edit-info {
  height: 45px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid;
}

.user-image-form {
  text-align: center;
}

// .user-image-form span {
//   margin-left: 110px;
// }

.user-image input[type="file"] {
  display: none;
}

.send-edit-user {
  text-align: center;
}

.send-edit-user input {
  margin: 80px 0;
  padding: 18px 25px;
  font-size: 16px;
  color: white;
  background-color: #33319f;
  border: 1px solid #33319f;
  border-radius: 5px;
}

// new====================================================================================
/* small screen */
@media (max-width: 799px) {
  .new-form {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 335px;
    margin-top: 20px;
    margin-left: 19px;
    border: 1px solid #80808040;
    border-radius: 12px;
    text-align: center;
    background-color: white;
  }

  .redistration-info {
    width: 153px;
    margin: 0 0 10px 24px;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
  }

  .redistration-form {
    height: 36px;
    width: 286px;
  }

  #new-close {
    margin-top: 10px;
    margin-left: 288px;
  }

  .user-items {
    height: 80px;
    width: 100%;
    margin: auto;
    border: 1px solid #80808040;
    color: black;
    box-shadow: 3px 3px 10px 0px #c1ced7;
    display: flex;
  }
}

@media (min-width: 800px) {
  .new-form {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 500px;
    margin-top: 75px;
    margin-left: 467px;
    border: 1px solid #80808040;
    border-radius: 12px;
    text-align: center;
    background-color: white;
  }

  .redistration-info {
    width: 153px;
    margin: 0 0 10px 50px;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
  }

  .redistration-form {
    height: 36px;
    width: 400px;
  }

  #new-close {
    margin-top: 10px;
    margin-left: 450px;
  }

  .user-items {
    height: 80px;
    width: 600px;
    margin: auto;
    border: 1px solid #80808040;
    color: black;
    box-shadow: 3px 3px 10px 0px #c1ced7;
    display: flex;
  }
}

.users-new-main {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
}

.users-new-main.signup-form {
  height: 100%;
  width: 100%;
  opacity: 1;
  pointer-events: auto;
}

.new-user {
  height: auto;
  width: 500px;
  margin: auto;
  margin-top: 75px;
  border: 1px solid #80808040;
  border-radius: 12px;
  text-align: center;
  background-color: white;
}

.new-user #signup-close {
  position: absolute;
  top: 85px;
  right: 475px;
  font-size: 25px;
  cursor: pointer;
  z-index: 10;
}

.new-user h1 {
  font-size: 27px;
  font-family: TT Commons,Arial,Helvetica Neue,sans-serif;
  margin-top: 60px;
}

.account-creation {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 16px;
}

.redistration-content {
  margin-bottom: 40px;
}

.send-user {
  margin-top: 60px;
  margin-bottom: 70px;
}

.send_new_user {
  height: 48px;
  width: 111px;
  font-size: 18px;
  color: white;
  background-color: #33319f;
  border: 1px solid #00000000;
  border-radius: 7px;
}

.page-cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.7);
}

.new-form h1 {
  font-size: 27px;
  font-family: TT Commons,Arial,Helvetica Neue,sans-serif;
}

.new-close-btn {
  color: #333333;
}

.new-close-btn:hover {
  color: #333333;
}

.error-message {
  color: red;
}

// login_page====================================================================================
.login-user {
  height: auto;
  width: 300px;
  margin: auto;
  margin-top: 40px;
  border: 1px solid #80808040;
  box-shadow: 3px 3px 10px 0px #c1ced7;
  text-align: center
}

.login-user p {
  margin: auto;
  margin-top: 20px;
  text-align: left;
  width: 153px;
}

.login_button {
  margin-bottom: 30px;
}

.form-error {
  margin-bottom: 20px;
  color: red;
}
// likes====================================================================================
.user-likes-main {
  height: auto;
}

.likes-items {
  margin-top: 50px;
}

.likes-item {
  height: 430px;
  width: 200px;
  margin: 0;
  padding: 0;
}

.likes-top {
  display: flex;
}

.likes-top img {
  height: 37px;
  width: 37px;
  border-radius: 5px;
}

.likes_user_name {
  margin-top: 10px;
  margin-left: 15px;
  color: black;
  text-decoration: none;
}

.likes-bottom a {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  margin: 13px 0 13px 0;
}

// likes====================================================================================
.search-users h1 {
  margin: 30px 0 30px 419px;
}